<app-header></app-header>
  <div class="container d-flex flex-column flex-md-row align-items-center pb-2 mb-3 mt-2 border-bottom">

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Produtos</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Suporte</a>
    </nav>
    <a href="" class="btn btn-outline-primary btn-sm mr-4">Sign Up</a>
  </div>

