<link rel="stylesheet" href="./about.component.css">

<div class="container row cont">

  <div class="mx-auto col-7">
      <h3 class="text-center">Sobre</h3>
      <p id="first-p">Site criado a partir do desafio final no bootcamp de desenvolvimento Full Stack junior, promovido pela <a href="https://www.dio.me/" target="_blank">dio.me</a> em parceria com o banco Santander. </p>
      <p>Tecnologias usadas: </p>
      <p>Java => para Criação da API conectada ao banco de dados MYSQL</p>
      <p>Angular => framework Front End</p>
      <p>Internamente em Angular, foi usado bootstrap, html, css, typescript</p>
    </div>

</div>
