<link rel="stylesheet" href="./footer.component.css">

<footer class="bg-dark">
  <div class="container">
    <div class="list-links d-flex">
        <a href="https://www.linkedin.com/in/diogo-silva-1653831a9/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/diiogo_silva/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/diogodvs" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5544991457268" target="_blank"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="text-center">
      <div class="col-md-12 text-center">
        <p class="copyright">
          Copyright  Diogo Silva
        </p>
      </div>
    </div>
  </div>
</footer>
